<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ general.base_url }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ general.base_url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ general.base_url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ general.base_url }}/site.webmanifest">
    <link href="{{ general.base_url }}/open-iconic/font/css/open-iconic.css" rel="stylesheet">
    <title>{{ title }} | {{ general.site }}</title>
</head>
