
{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <h2>Journal articles</h2>
    <ol reversed>
    {% for k,paper in journals.items() %}
        <li>
            {% for author in paper.authors %}
                {{ 'and' if loop.last }} {{ author|author_filter() }},
            {% endfor %}
            "{{ paper.title }}." 
            {% if paper.published %}
            In 
            {% else %}
            To appear in 
            {% endif %}
            {{ paper.publisher }} {{ paper.venue_name }}, Volume {{ paper.volume }}, pages {{ paper.page_from }}-{{ paper.page_to }},  {{ paper.month|month_name_filter() }} {{ paper.year }}.
            {% if paper.pdf %}
            (<a href="{{ general.base_url }}{{ paper.pdf }}"><span class="oi" data-glyph="document"></span></a>)
            {% endif %}
            {% if paper.doi %}
            (<a href="https://doi.org/{{ paper.doi }}">doi</a>)
            {% endif %}
            (<a href="{{ general.base_url }}/publications/{{ k }}">...</a>)
        </li>
    {% endfor %}
    </ol>

    <h2>Conferences</h2>
    <ol reversed>
    {% for k,paper in conferences.items() %}
        <li>
            {% for author in paper.authors %}
                {{ 'and' if loop.last }} {{ author|author_filter() }},
            {% endfor %}
            "{{ paper.title }}." 
            {% if paper.published %}
            In 
            {% else %}
            To appear in 
            {% endif %}
            {{ paper.publisher }} {{ paper.venue_name }} ({{ paper.venue_short_name }}) {{ paper.year }}. {{ paper.location }}.
            {% if paper.pdf %}
            (<a href="{{ general.base_url }}{{ paper.pdf }}"><span class="oi" data-glyph="document"></span></a>)
            {% endif %}
            {% if paper.ppt %}
            (<a href="{{ general.base_url }}{{ paper.ppt }}"><span class="oi" data-glyph="monitor"></span></a>)
            {% endif %}
            {% if paper.video %}
            (<a href="{{ general.base_url }}{{ paper.video }}"><span class="oi" data-glyph="video"></span></a>)
            {% endif %}
            (<a href="{{ general.base_url }}/publications/{{ k }}">...</a>)
        </li>
    {% endfor %}
    </ol>
{% endblock %}